---
environments:
  default:
    values:
      - namespace: tekton-operator
      - pipelineNamespace: tekton-pipelines
      - autoInstallComponents: false
      - pipelineNamespace: tekton-pipelines
      - imagePullPolicy: Always
      - disableInlineSpec: ""
      - enableTektonPipeline: true
      - enableTektonTrigger: false
      - enableTektonDashboard: false
---
releases:
  - name: tekton
    disableValidationOnInstall: true
    installed: true
    namespace: {{ .Values.namespace }}
    chart: ../tekton
    values:
      - "values/tekton.values.yaml.gotmpl"