---
autoInstallComponents: {{ .Values.autoInstallComponents }}
defaultNamespace: {{ .Values.pipelineNamespace }}
imagePullPolicy: {{ .Values.imagePullPolicy }}
disableInlineSpec: "{{ .Values.disableInlineSpec }}"
enableTektonPipeline: {{ .Values.enableTektonPipeline }}
enableTektonTrigger: {{ .Values.enableTektonTrigger }}
enableTektonDashboard: {{ .Values.enableTektonDashboard }}

tektonPruner:
  enabled: {{ .Values.enableTektonPruner }}
